---
title: Blogdown & Hugo & Gitlabpages
author: Nico Blokker
date: '2020-03-01'
slug: blogdown-hugo-gitlabpages
categories: []
tags: []
---



<div id="workflow" class="section level1">
<h1>Workflow</h1>
<div id="new-template" class="section level2">
<h2>New template</h2>
<ol style="list-style-type: decimal">
<li>chose theme</li>
<li>build new site
<ul>
<li>e.g. academic: <code>blogdown::new_site(theme = "gcushen/hugo-academic")</code></li>
<li>or defauult hugo-lithium: <code>blogdown::new_site()</code></li>
</ul></li>
<li>adjust .toml
<ul>
<li>set <code>baseurl = "/"</code></li>
<li>set <code>relativeURLs = true</code></li>
<li>set ignorefiles option</li>
</ul></li>
<li>run <code>blogdown::hugo_build()</code></li>
<li>add ci</li>
<li>add, commit, push</li>
</ol>
</div>
<div id="changes" class="section level2">
<h2>Changes</h2>
<ol style="list-style-type: decimal">
<li><code>blogdown::new_post("title", ext ='.Rmd')</code></li>
<li><code>blogdown::serve_site()</code></li>
<li>add, commit, push</li>
</ol>
</div>
</div>
