---
title: Igraph and VisNetwork
author: Nico Blokker
date: '2020-03-01'
slug: igraph-and-visnetwork
categories: []
tags: []
---

<script src="/rmarkdown-libs/htmlwidgets/htmlwidgets.js"></script>
<link href="/rmarkdown-libs/vis/vis.css" rel="stylesheet" />
<script src="/rmarkdown-libs/vis/vis.min.js"></script>
<script src="/rmarkdown-libs/visNetwork-binding/visNetwork.js"></script>


<div id="generate-network" class="section level1">
<h1>Generate Network</h1>
<pre class="r"><code>library(igraph)
library(visNetwork)
set.seed(4321)
g &lt;- erdos.renyi.game(10, .2, &quot;gnp&quot;)
V(g)$color &lt;- sample(c(&quot;darkblue&quot;, &quot;red&quot;), vcount(g), replace = T)
visIgraph(g)</code></pre>
<div id="htmlwidget-1" style="width:672px;height:480px;" class="visNetwork html-widget"></div>
<script type="application/json" data-for="htmlwidget-1">{"x":{"nodes":{"id":[1,2,3,4,5,6,7,8,9,10],"color":["red","darkblue","darkblue","red","red","darkblue","darkblue","darkblue","red","red"],"label":[1,2,3,4,5,6,7,8,9,10],"x":[-0.486554597639444,0.101033491501138,0.593120197078105,1,-0.648831159204515,-0.902594134063725,-1,0.769642972992318,0.121221709214709,0.10120053888487],"y":[-0.840456501407431,0.126401916039414,-1,1,0.194754084473575,-0.40190579188852,0.68213817187769,0.0925552974308688,-0.622625914746171,0.796358219981868]},"edges":{"from":[2,1,5,5,2,1,2,3,2],"to":[5,6,6,7,8,9,9,9,10]},"nodesToDataframe":true,"edgesToDataframe":true,"options":{"width":"100%","height":"100%","nodes":{"shape":"dot","physics":false},"manipulation":{"enabled":false},"edges":{"smooth":false},"physics":{"stabilization":false}},"groups":null,"width":null,"height":null,"idselection":{"enabled":false},"byselection":{"enabled":false},"main":null,"submain":null,"footer":null,"background":"rgba(0, 0, 0, 0)","igraphlayout":{"type":"square"}},"evals":[],"jsHooks":[]}</script>
</div>
